In [224]:
#not an external library; it is a module; built into a python package, HOWEVER not activated by defualt;reason is to save memory
import pandas as pd
import datetime as dt

## Review of Python's datetime Module

In [4]:
import pandas as pd
import datetime as dt

In [5]:
#there is a datetime module and a datetime function, so calling datetime.datetime() will be ok but since we import dt as module  we will have dt.datetime()

In [8]:
dt.date(2016, 4, 20) #store in a variable

datetime.date(2016, 4, 20)

In [11]:
someday = dt.datetime(2019, 2, 20)

In [14]:
someday.year
someday.month
someday.day

20

In [17]:
dt.datetime(2010, 2, 20) #datetime object has to have a time as well, if not provided it will replace it with 0

datetime.datetime(2010, 2, 20, 0, 0)

In [18]:
#to make it more readable we need to use the str() method
str(someday)

'2019-02-20 00:00:00'

In [27]:
sometime = dt.datetime(2010, 2, 10, 12, 2, 2) #store in a variable and check the time, year, day, etc

In [36]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.month
sometime.day
sometime.second

2

## The pandas Timestamp Object

In [46]:
import pandas as pd
#the timestamp object is pythons version of the datetime object; pandas is smart enough to recognize year/month/day
pd.Timestamp("2019-01-22")
pd.Timestamp("2019/3/12")
pd.Timestamp("4/3/2000")
pd.Timestamp("2012/3/14 12:00:00")
pd.Timestamp("2019-8-12 9:00:00 PM")

Timestamp('2019-08-12 21:00:00')

In [48]:
#pass in a datetime object to pandas timestamp method
pd.Timestamp(dt.date(2019, 12, 10))

Timestamp('2019-12-10 00:00:00')

## The pandas DateTimeIndex Object

In [49]:
dates = ["2016-01-10", "2018-01-18", "2010-9-10"]

In [50]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-10', '2018-01-18', '2010-09-10'], dtype='datetime64[ns]', freq=None)

In [52]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [57]:
other_dates = [dt.date(2016, 1, 10), dt.date(2019, 4, 13), dt.date(2018, 3, 14)]
dtIndex = pd.DatetimeIndex(other_dates)

In [58]:
values = [100, 200, 300]
pd.Series(data = values)

0    100
1    200
2    300
dtype: int64

In [60]:
pd.Series(data= values, index = dtIndex)

2016-01-10    100
2019-04-13    200
2018-03-14    300
dtype: int64

## The pd.to_datetime() Method

In [5]:
import pandas as pd
import datetime as dt

In [6]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [7]:
pd.to_datetime(dt.date(2018, 12, 12))

Timestamp('2018-12-12 00:00:00')

In [8]:
pd.to_datetime(dt.datetime(2019, 10, 12, 12, 12, 12))

Timestamp('2019-10-12 12:12:12')

In [9]:
pd.to_datetime(["2019-10-10", "2018/12/15", "2017", "July 4th 1996"])

DatetimeIndex(['2019-10-10', '2018-12-15', '2017-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [10]:
#to create a series of datetime and store it there as a datetime index
times = pd.Series(["2019-10-10", "2018/12/15", "2017", "July 4th 1996"])

In [11]:
times

0       2019-10-10
1       2018/12/15
2             2017
3    July 4th 1996
dtype: object

In [12]:
pd.to_datetime(times) #pandas can even convert the pandas series of times of different formats to datetime objects

0   2019-10-10
1   2018-12-15
2   2017-01-01
3   1996-07-04
dtype: datetime64[ns]

In [17]:
pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-2-10" ,"2012-2-31"])

0    July 4th 1996
1       10/04/1991
2            Hello
3        2015-2-10
4        2012-2-31
dtype: object

In [23]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-2-36"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3        2015-2-36
dtype: object

In [24]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [27]:
#unix time, number of seconds since Janurary 1st 1970
pd.to_datetime([134970105, 1349806505, 1349892905, 1350065705], unit="s")

DatetimeIndex(['1974-04-12 03:41:45', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

## Create Range of Dates with the pd.date_range() Method, Part1

In [32]:
#this is about generating datetime indeces automatically
#you provide start date, end date, and range which here is one day
times = pd.date_range(start="2016-01-01", end="2016-01-10", freq="D")

In [33]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [34]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
#will not include the dates if it passes the end because the range is 2D here
times2 = pd.date_range(start="2016-01-01", end="2016-01-10", freq="2D")
times2

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [39]:
#B is for business days only
times3 = pd.date_range(start = "2019-01-01", end="2019-01-10", freq="B")
times3

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='B')

In [42]:
#W means once per week; defaults to SUNDAY
times4 = pd.date_range(start="2019-01-01", end="2019-01-10", freq="W")
times4

DatetimeIndex(['2019-01-06'], dtype='datetime64[ns]', freq='W-SUN')

In [46]:
#we can also change the default on the freq, the example below means start the week on Friday
times5 = pd.date_range(start="2019-01-01", end="2019-01-15", freq="W-FRI")
times5

DatetimeIndex(['2019-01-04', '2019-01-11'], dtype='datetime64[ns]', freq='W-FRI')

In [48]:
#H for frequency means hoursly; increments can be changed ie 6H, 10H, etc
times6 = pd.date_range(start="2019-01-01", end="2019-01-14", freq="H")
times6

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-01-13 15:00:00', '2019-01-13 16:00:00',
               '2019-01-13 17:00:00', '2019-01-13 18:00:00',
               '2019-01-13 19:00:00', '2019-01-13 20:00:00',
               '2019-01-13 21:00:00', '2019-01-13 22:00:00',
               '2019-01-13 23:00:00', '2019-01-14 00:00:00'],
              dtype='datetime64[ns]', length=313, freq='H')

In [50]:
#M means the last day of every month
times7 = pd.date_range(start="2019-01-10", end="2019-03-10", freq="M")
times7

DatetimeIndex(['2019-01-31', '2019-02-28'], dtype='datetime64[ns]', freq='M')

In [52]:
#MS means the beginning of every month
times8 = pd.date_range(start="2019-10-10", end="2090-12-10", freq="MS")
times8

DatetimeIndex(['2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01',
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01',
               ...
               '2090-03-01', '2090-04-01', '2090-05-01', '2090-06-01',
               '2090-07-01', '2090-08-01', '2090-09-01', '2090-10-01',
               '2090-11-01', '2090-12-01'],
              dtype='datetime64[ns]', length=854, freq='MS')

In [53]:
#A means the end of every year
times9 = pd.date_range(start="2019-10-10", end="2029-10-10", freq="A")
times9

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the pd.date_range() Method, Part 2

In [61]:
#periods specifies how many times you want to get results by the period specfied, every freq times
#the ferq can change to B, W, A, etc
times1 = pd.date_range(start="2012-09-09",periods=25,freq="D")
times1

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [65]:
#will represent 50 weeks from start date with every week starting at sunday
times2 = pd.date_range(start="2012-09-09", periods=50, freq="W")
times2

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [68]:
#generate every 6 hours
times3 = pd.date_range(start="2012-09-09", periods=50, freq="6H")
times3

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the pd.date_range() Method, Part 3

In [72]:
#start with an end date and go back "preiod" number of times for once every day
times1 = pd.date_range(end="1999-12-31", periods=50, freq="D")
times1

DatetimeIndex(['1999-11-12', '1999-11-13', '1999-11-14', '1999-11-15',
               '1999-11-16', '1999-11-17', '1999-11-18', '1999-11-19',
               '1999-11-20', '1999-11-21', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-27',
               '1999-11-28', '1999-11-29', '1999-11-30', '1999-12-01',
               '1999-12-02', '1999-12-03', '1999-12-04', '1999-12-05',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-11', '1999-12-12', '1999-12-13',
               '1999-12-14', '1999-12-15', '1999-12-16', '1999-12-17',
               '1999-12-18', '1999-12-19', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-25',
               '1999-12-26', '1999-12-27', '1999-12-28', '1999-12-29',
               '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [75]:
#give an end datea nd go back 40 times for every week day on Sundays
times2 = pd.date_range(end="1999-12-31", periods=50, freq="D")
times2

DatetimeIndex(['1999-11-12', '1999-11-13', '1999-11-14', '1999-11-15',
               '1999-11-16', '1999-11-17', '1999-11-18', '1999-11-19',
               '1999-11-20', '1999-11-21', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-27',
               '1999-11-28', '1999-11-29', '1999-11-30', '1999-12-01',
               '1999-12-02', '1999-12-03', '1999-12-04', '1999-12-05',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-11', '1999-12-12', '1999-12-13',
               '1999-12-14', '1999-12-15', '1999-12-16', '1999-12-17',
               '1999-12-18', '1999-12-19', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-25',
               '1999-12-26', '1999-12-27', '1999-12-28', '1999-12-29',
               '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [76]:
#All the other frequency values apply to this method

## The .dt Accessor

In [78]:
#similar to the str accessor
bunch_of_dates = pd.date_range(start="2000-01-01", end="2010-12-31", freq="24D")

In [79]:
s = pd.Series(bunch_of_dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
5     2000-04-30
6     2000-05-24
7     2000-06-17
8     2000-07-11
9     2000-08-04
10    2000-08-28
11    2000-09-21
12    2000-10-15
13    2000-11-08
14    2000-12-02
15    2000-12-26
16    2001-01-19
17    2001-02-12
18    2001-03-08
19    2001-04-01
20    2001-04-25
21    2001-05-19
22    2001-06-12
23    2001-07-06
24    2001-07-30
25    2001-08-23
26    2001-09-16
27    2001-10-10
28    2001-11-03
29    2001-11-27
         ...
138   2009-01-25
139   2009-02-18
140   2009-03-14
141   2009-04-07
142   2009-05-01
143   2009-05-25
144   2009-06-18
145   2009-07-12
146   2009-08-05
147   2009-08-29
148   2009-09-22
149   2009-10-16
150   2009-11-09
151   2009-12-03
152   2009-12-27
153   2010-01-20
154   2010-02-13
155   2010-03-09
156   2010-04-02
157   2010-04-26
158   2010-05-20
159   2010-06-13
160   2010-07-07
161   2010-07-31
162   2010-08-24
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [82]:
#let's say we want to extract all the dates; must use the dt accessor to get the day
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [84]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [85]:
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [86]:
mask = s.dt.is_month_end

In [87]:
mask

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161     True
162    False
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

## import Financial Data Set with pandas_datareader Library

In [91]:
import pandas as pd
import datetime as dt
from pandas_datareader import data #import only a specific chunk of the library

In [97]:
company="MSFT"
start = "2010-01-01"
end = "2017-12-31"
stocks = data.DataReader(name=company, data_source="yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [102]:
stocks.values #all the values for each of the columns in the multi dimensional array
stocks.columns
stocks.index #the index is of type datetime

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

## Selecting from a DataFrame with a DateTimeIndex

In [103]:
stocks = data.DataReader(name = company, data_source="yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [107]:
#this is saying make the frequency one year from the give start date
birthdays = pd.date_range(start = "1991-04-12", end="2017-12-31", freq = pd.DateOffset(years = 1))
birthdays

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [109]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [110]:
mask = stocks.index.isin(birthdays)

In [111]:
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  24.058039
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.793827
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.809261
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.704655
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  50.932743
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.391968

## Timestamp Object Attributes

In [139]:
stocks = data.DataReader(name = company, data_source="yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [140]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [141]:
someday.day
someday.month
someday.year
someday.day_name
someday.is_month_end

False

In [142]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)
stocks.head(3)

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.10,30.590000,30.620001,30.950001,38409100.0,24.443624
2010-01-05,Tuesday,31.10,30.639999,30.850000,30.959999,49749600.0,24.451517
2010-01-06,Wednesday,31.08,30.520000,30.879999,30.770000,58182400.0,24.301458

In [143]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
stocks.head(4)

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.443624
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.451517
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.301458
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,24.048725

In [147]:
stocks[stocks["Is Start of Month"]] #pull the first day of each month; Filteration

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.437580
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.026525
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.137602
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.635656
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.459715
2010-09-01,Wednesday,True,23.950001,23.540001,23.670000,23.900000,65235900.0,19.151144
2010-10-01,Friday,True,24.820000,24.299999,24.770000,24.379999,62672300.0,19.535769
2010-11-01,Monday,True,27.219999,26.700001,26.879999,26.950001,61912100.0,21.595112
2010-12-01,Wednesday,True,26.250000,25.559999,25.570000,26.040001,74123500.0,20.994139
2011-02-01,Tuesday,True,28.059999,27.610001,27.799999,27.990000,62810700.0,22.566280
2011-03-01,Tuesday,True,26.780001,26.150000,26.600000,26.160000,60055000.0,21.215551
2011-04-01,Friday,True,25.530001,25.309999,25.530001,25.480000,63114200.0,20.664076
2011-06-01,Wednesday,True,25.100000,24.370001,24.990000,24.430000,74033500.0,19.942396
2011-07-01,Friday,True,26.170000,25.840000,25.930000,26.020000,52906200.0,21.240322
2011-08-01,Monday,True,27.690001,26.750000,27.510000,27.270000,61838400.0,22.260714
2011-09-01,Thursday,True,26.860001,26.209999,26.459999,26.209999,60510800.0,21.530468
2011-11-01,Tuesday,True,26.320000,25.860001,26.190001,25.990000,61182600.0,21.349743
2011-12-01,Thursday,True,25.629999,25.200001,25.559999,25.280001,48545400.0,20.922884
2012-02-01,Wednesday,True,30.049999,29.760000,29.790001,29.889999,67409900.0,24.738325
2012-03-01,Thursday,True,32.389999,31.850000,31.930000,32.290001,77344100.0,26.900608
2012-05-01,Tuesday,True,32.340000,31.950001,32.049999,32.009998,43832300.0,26.667349
2012-06-01,Friday,True,28.959999,28.440001,28.760000,28.450001,56634300.0,23.857056
2012-08-01,Wednesday,True,29.650000,29.209999,29.590000,29.410000,31721800.0,24.662073
2012-10-01,Monday,True,29.980000,29.420000,29.809999,29.490000,54042700.0,24.892981
2012-11-01,Thursday,True,29.559999,28.820000,28.840000,29.520000,72047900.0,24.918303
2013-02-01,Friday,True,28.049999,27.549999,27.670000,27.930000,55565900.0,23.769892
2013-03-01,Friday,True,27.980000,27.520000,27.719999,27.950001,34849700.0,23.983852
2013-04-01,Monday,True,28.660000,28.360001,28.639999,28.610001,29201100.0,24.550192
2013-05-01,Wednesday,True,33.080002,32.599998,32.930000,32.720001,54330900.0,28.076982
2013-07-01,Monday,True,34.990002,34.330002,34.750000,34.360001,31055400.0,29.691017
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.590000,41.070000,41.150002,41.419998,32605000.0,36.589558
2014-05-01,Thursday,True,40.360001,39.950001,40.240002,40.000000,28787400.0,35.335155
2014-07-01,Tuesday,True,42.150002,41.689999,41.860001,41.869999,26917000.0,37.248013
2014-08-01,Friday,True,43.250000,42.599998,43.209999,42.860001,31170300.0,38.128727
2014-10-01,Wednesday,True,46.529999,45.849998,46.270000,45.900002,38088400.0,41.088188
2014-12-01,Monday,True,48.779999,47.709999,47.880001,48.619999,31191600.0,43.797543
2015-04-01,Wednesday,True,40.759998,40.310001,40.599998,40.720001,36865300.0,36.942169
2015-05-01,Friday,True,48.880001,48.400002,48.580002,48.660000,38937300.0,44.145527
2015-06-01,Monday,True,47.770000,46.619999,47.060001,47.230000,28837300.0,43.126656
2015-07-01,Wednesday,True,45.230000,44.099998,44.459999,44.450001,28343900.0,40.588188
2015-09-01,Tuesday,True,42.590000,41.660000,42.169998,41.820000,49688900.0,38.438499
2015-10-01,Thursday,True,44.750000,43.750000,44.750000,44.610001,28657900.0,41.002899
2015-12-01,Tuesday,True,55.230000,54.299999,54.410000,55.220001,39952800.0,51.097107
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,50.625172
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.003548
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,51.790169
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,49.599678
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.013626
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.100292
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,54.385036
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,56.472046
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.283112
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,60.447304
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.114594
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,66.390121
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.434410
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,69.820122
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.507362
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,80.443352
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,81.897079

## The .truncate() Method

In [149]:
stocks = data.DataReader(name=company, start = start, end= end, data_source="yahoo")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [152]:
stocks.truncate(before= "2011-02-05", after = "2011-02-28") #requires 2 parameters, before and after, will truncate afterwards

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.735588
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.800087
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.550152
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.171234
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  21.969673
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  21.953550
2011-02-15  27.330000  26.950001  27.040001  26.959999  44116500.0  21.864336
2011-02-16  27.070000  26.600000  27.049999  27.020000  70817900.0  21.912996
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  22.067087
2011-02-18  27.209999  26.990000  27.129999  27.059999  68667800.0  21.945433
2011-02-22  27.100000  26.520000  26.780001  26.590000  60889000.0  21.564276
2011-02-23  26.860001  26.430000  26.530001  26.590000  60234100.0  21.564276
2011-02-24  27.059999  26.500000  26.639999  26.770000  64494200.0  21.710251
2011-02-25  26.950001  26.500000  26.910000  26.549999  53006300.0  21.531834
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.556164

## pd.DateOffset Objects

In [159]:
stocks = data.DataReader(name="GOOG", data_source="yahoo", start=dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [160]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-30',
               '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-07', '2019-10-08'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [163]:
#let's say we want to add 5 days to all the indeces above
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2004-08-29', '2004-08-30', '2004-09-02', '2004-09-03',
               '2004-09-04', '2004-09-05', '2004-09-06', '2004-09-09',
               '2004-09-10', '2004-09-11',
               ...
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-10',
               '2019-10-11', '2019-10-12', '2019-10-13', '2019-10-14',
               '2019-10-17', '2019-10-18'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [166]:
stocks.index + pd.DateOffset(weeks=3)

DatetimeIndex(['2004-09-14', '2004-09-15', '2004-09-18', '2004-09-19',
               '2004-09-20', '2004-09-21', '2004-09-22', '2004-09-25',
               '2004-09-26', '2004-09-27',
               ...
               '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-26',
               '2019-10-27', '2019-10-28', '2019-10-29', '2019-10-30',
               '2019-11-02', '2019-11-03'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [167]:
stocks.index - pd.DateOffset(months= 2)

DatetimeIndex(['2004-06-24', '2004-06-25', '2004-06-28', '2004-06-29',
               '2004-06-30', '2004-06-30', '2004-07-01', '2004-07-04',
               '2004-07-05', '2004-07-06',
               ...
               '2019-07-30', '2019-08-01', '2019-08-02', '2019-08-05',
               '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09',
               '2019-08-12', '2019-08-13'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [170]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2005-08-24', '2005-08-25', '2005-08-28', '2005-08-29',
               '2005-08-30', '2005-08-31', '2005-09-01', '2005-09-04',
               '2005-09-05', '2005-09-06',
               ...
               '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05',
               '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
               '2020-10-12', '2020-10-13'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [173]:
stocks.index + pd.DateOffset(hours = 4, minutes = 20, seconds = 10)

DatetimeIndex(['2004-08-24 04:20:10', '2004-08-25 04:20:10',
               '2004-08-28 04:20:10', '2004-08-29 04:20:10',
               '2004-08-30 04:20:10', '2004-08-31 04:20:10',
               '2004-09-01 04:20:10', '2004-09-04 04:20:10',
               '2004-09-05 04:20:10', '2004-09-06 04:20:10',
               ...
               '2019-09-30 04:20:10', '2019-10-01 04:20:10',
               '2019-10-02 04:20:10', '2019-10-05 04:20:10',
               '2019-10-06 04:20:10', '2019-10-07 04:20:10',
               '2019-10-08 04:20:10', '2019-10-09 04:20:10',
               '2019-10-12 04:20:10', '2019-10-13 04:20:10'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

## More Fun with pd.DateOffset Objects

In [180]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [181]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo", start = dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(4)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193

In [182]:
#What if we want to round these dates to the closest day of the month? or the start of the quarter? End of the quarter?
#not manually, but in a more clever way
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-09-30', '2019-09-30', '2019-09-30', '2019-10-31',
               '2019-10-31', '2019-10-31', '2019-10-31', '2019-10-31',
               '2019-10-31', '2019-10-31'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [184]:
stocks.index - pd.tseries.offsets.MonthBegin() #can use MonthBegin since we already imported it up top with the *

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2019-09-01', '2019-09-01', '2019-09-01', '2019-09-01',
               '2019-09-01', '2019-10-01', '2019-10-01', '2019-10-01',
               '2019-10-01', '2019-10-01'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [186]:
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [187]:
stocks.index + YearBegin()

DatetimeIndex(['2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

In [188]:
stocks.index - YearBegin()

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='Date', length=3811, freq=None)

## The Pandas Timedelta Object

In [190]:
#An object that represents a distance in time, a difference of times, a time span
#two ways to create timedelta
import pandas as pd
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-04-29")

In [191]:
timeB - timeA

Timedelta('29 days 00:00:00')

In [192]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [193]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [195]:
timeA - timeB

Timedelta('-29 days +00:00:00')

In [197]:
#years parameter does not work, unlike the offset method
#notice that the weeks parameter works fine here
pd.Timedelta(days=3, minutes=10, hours=12, weeks=8)

Timedelta('59 days 12:10:00')

In [198]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [203]:
#notice how the week parameter doesn't work in this forat
pd.Timedelta("14 days 6 hours 49 minutes 2 seconds")

Timedelta('14 days 06:49:02')

## Timedeltas in a Dataset

In [208]:
import pandas as pd
shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [209]:
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
8      154 days
9     1711 days
10    2502 days
11     367 days
18     848 days
19       9 days
20    2180 days
23    2633 days
26     753 days
30      81 days
32    3107 days
33     752 days
35     961 days
36    1371 days
39    1036 days
41    1555 days
46     318 days
50    2997 days
52     985 days
53     937 days
54     605 days
58      64 days
59      78 days
60     903 days
63    1715 days
         ...
932    258 days
934     50 days
935   2719 days
938    843 days
939     67 days
942   1784 days
943   3228 days
945    737 days
946   1697 days
947   2915 days
949     92 days
951    929 days
953    955 days
954    168 days
956   1236 days
957   1758 days
958   2621 days
969     53 days
972   2097 days
975    137 days
981    397 days
983    942 days
984   2756 days
985    328 days
986    737 days
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [210]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [211]:
shipping["Tice as Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [212]:
shipping.head(3)

   order_date delivery_date Delivery Time Tice as Long
ID
1  1998-05-24    1999-02-05      257 days   1999-10-20
2  1992-04-22    1998-03-06     2144 days   2004-01-18
4  1991-02-10    1992-08-26      563 days   1994-03-12

In [218]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Tice as Long      datetime64[ns]
dtype: object

In [219]:
mask = shipping["Delivery Time"] > "3000 days"

In [220]:
shipping[mask]

    order_date delivery_date Delivery Time Tice as Long
ID
32  1990-01-20    1998-07-24     3107 days   2007-01-25
130 1990-04-02    1999-08-16     3423 days   2008-12-29
151 1991-01-29    1999-08-05     3110 days   2008-02-09
229 1990-04-13    1998-11-17     3140 days   2007-06-23
314 1990-03-07    1999-12-25     3580 days   2009-10-13
331 1990-09-18    1999-12-19     3379 days   2009-03-20
348 1990-02-27    1999-01-04     3233 days   2007-11-11
392 1990-12-24    1999-12-04     3267 days   2008-11-13
590 1990-03-25    1998-12-20     3192 days   2007-09-16
634 1991-04-04    1999-07-21     3030 days   2007-11-06
674 1990-03-16    1998-12-28     3209 days   2007-10-11
760 1990-09-16    1998-12-06     3003 days   2007-02-25
764 1990-09-19    1999-09-16     3284 days   2008-09-12
786 1990-10-26    1999-05-10     3118 days   2007-11-22
884 1990-01-20    1999-11-12     3583 days   2009-09-03
902 1991-07-03    1999-11-10     3052 days   2008-03-19
904 1990-02-13    1999-11-15     3562 days   2009-08-16
943 1991-01-30    1999-12-02     3228 days   2008-10-03

In [221]:
mask = shipping["Delivery Time"] == "3423 days"

In [ ]:
shipping["delivery_date"]

In [222]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [223]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')